          <div id="sidenav">
                <p id="x">x</p>
                <p><a class="links" href="/signers">see other signers</a></p>
                <p><a class="links" href="/edit">edit profile</a></p>
                <p><a class="links" href="/logout">logout</a></p>
            </div>
  