<h1>This is the petition page, WELCOME!</h1>

<form action="" method="POST" class="form">
    <div class="inputField">
        <label for="firstname">First name:</label>
            <input type="text" name="firstname">
        <label for="lastname">Last name:</label>
            <input type="text" name="firstname">
    </div>
    <canvas width="400" height="150"></canvas>
    <button type="submit">Submit</button>
</form>