<div class="titleContainer">
<h1 class="title">Petition for the return of the PC turbo button.</h1>
<h3 class= "checkitout">because, look at it. It is so useless yet cool looking.</h3>
<div class="smallText">
    <p>We can make this happen.</p> 
    <p>Let major PC companies reinvent the turbo button!</p>
    <p>Sign now!</p>
    </div>
    
</div>
<img id = "turbo" src="/ax98qPb_700b.jpg" alt="Picture of a pc with a turbo button">
<form action="" method="POST" class="form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{#if incomplete}}
    <div class="error">Something went wrong there, please try again. Did you fill out the complete form?</div>
    {{/if}}
    <div class="inputField">
        <label for="firstname">First name:</label>
            <input type="text" name="first" required>
        <label for="lastname">Last name:</label>
            <input type="text" name="last" required>
    </div>
    <input id="signature" type="hidden" name="signature">
        <h4>sign here please</h4>
        <canvas id="canvas" width="400" height="150" required></canvas>
    <button type="submit" id="submit">Submit</button>
</form>

