<div class="titleContainer">
    <h1 class="title">Thank you for registering</h1>
    <h3 class= "checkitout">Would you mind filling in some more info?</h3>  
</div>

<div class="RegformContainer">
    <form action="" method="POST" class="form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{#if incomplete}}
    <div class="error">Something went wrong there, please try again.</div>
    {{/if}}
    <div class="inputField">
        <label for="age">Age</label>
            <input type="number" name="age">
        <label for="city">City</label>
            <input type="text" name="city">
        <label for="homepage">Homepage</label>
            <input type="text" value="https://www." name="homepage">
    </div> 
    <div class="buttonDiv">
        <button type="reset" class="submit">Reset<span class="bg"></span></button>
        <button type="submit" class="submit">Continue<span class="bg"></span></button>
    </div>
    <p class="registered">don't want to give info? → <a href="petition">Just sign the petition</a></p>
    </form>
    {{>logout}}
    <img id="turbo" src="/turbo2.jpg" alt="Picture of a pc with a turbo button">
</div>