<div class="titleContainer">
<h1 class="title">these people also want to have a turbo time</h1>
</div>

<div class="nameList">
{{#rows}}
<p>{{this.first}} {{this.last}}</p>
{{/rows}}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>