* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2dfd7;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -1;
}

a {
    color: #3891a6;
    text-decoration: dotted underline;
}

a:hover {
    color: #3891a6;
    transition: ease;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0px;
    font-family: "Lato";
    margin: 10px;
    font-size: 10px;
    color: #75485e;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.title {
    font-family: "Lato";
    color: #0f1108;
    width: 80%;
    font-size: 60px;
    margin: 10px;
    animation: text-shadow 1.5s ease-in-out;
    font-weight: 900;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b, 0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
    }
}

/* petition handlebars */

.error {
    font-family: "Lato";
    color: #898952;
    margin: 10px;
    text-align: center;
}

.checkitout {
    font-family: "Lato";
    color: #3891a6;
    font-size: 35px;
    margin: 10px;
    margin-top: 0;
}

.form {
    margin: 10px;
}

canvas {
    background-color: #f2dfd7;
    border: 1px dashed #a4243b;
    cursor: crosshair;
}

#canvasInput {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
}

/* image */
#turbo {
    margin-left: 23px;
    height: 320px;
    object-fit: cover;
    border: solid 2px #3891a6;
    /* box-shadow: 0px 10px 13px -7px #000000, 8px 8px 3px -2px rgba(0, 0, 0, 0.4); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* submit button */

.buttonDiv {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: center;
    background: #f2dfd7;
    margin-top: 10px;
    text-decoration: none;
}

.submit {
    font-family: "Lato";
    font-size: 24px;
    color: #3891a6;
    position: relative;
    transform: scale(1);
    padding: 10px 50px 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #f2dfd7;
    transition: all 0.3s;
}

.submit .bg {
    background: #3891a6;
    width: 30px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    z-index: -1;
    transition: all 0.3s;
}

.submit:hover {
    color: white;
    padding-right: 20px;
}
.submit:hover .bg {
    height: 100%;
    width: 100%;
    transform: translate(0, -50%);
}

.submit .bg:before,
.submit .bg:after {
    content: "";
    height: 2px;
    width: 10px;
    background: #3891a6;
    position: absolute;
    right: -2px;
    transition: all 0.3s;
}

.submit .bg:before {
    bottom: 3px;
    transform: rotate(45deg);
}

.submit .bg:after {
    top: 3px;
    transform: rotate(-45deg);
}

.submit:hover .bg:before,
.submit:hover .bg:after {
    right: 0;
}

.submit:hover .bg:before {
    bottom: 6px;
}

.submit:hover .bg:after {
    top: 6px;
}

/* signers handlebars */

.nameList {
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    color: #e29578;
    text-align: center;
    font-size: 20px;
    margin: 30px;
}

/* thanks handlebars */

.sigContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

#sig {
    border: 1px dashed #a4243b;
}

#thanksEdit {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

.thanksButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}

/* register handlebars */

.RegformContainer {
    font-family: "Lato";
    display: flex;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

.registered {
    margin: 10px;
    font-family: "Lato";
    text-align: center;
    font-size: 14px;
}

/* logout */

#logout {
    font-family: "Lato";
    width: 90px;
    height: 40px;
    background-color: #3891a6;
    color: white;
    border: 2px #3891a6 solid;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}

#logout:hover {
    background-color: #f2dfd7;
    color: #3891a6;
    border-right: dashed 2px #3891a6;
    border-bottom: dashed 2px #3891a6;
    border-left: none;
    border-top: none;
    width: 120px;
    height: 60px;
}

#removeSig {
    font-family: "Lato";
    width: 150px;
    height: 30px;
    background-color: #3891a6;
    color: #eff7f6;
    border: 2px #3891a6 solid;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.3s ease;
}

#removeSig:hover {
    background-color: #f2dfd7;
    color: #3891a6;
    border-bottom: dashed 2px #3891a6;
    border-left: dashed 2px #3891a6;
    border-right: none;
    border-top: none;
    width: 180px;
    height: 40px;
}

#turboButton {
    font-family: "Lato";
    background-color: #a4243b;
    width: 90px;
    color: white;
    height: 90px;
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 40px;
    border-radius: 50%;
    border: solid 2px #a4243b;
    box-shadow: inset 3px -3px 0px 4px rgba(0, 0, 0, 0.33);
}

#turboButton:hover {
    font-family: "Lato";
    background-color: #f2dfd7;
    color: #a4243b;
    border: dashed 2px #a4243b;
}

#hamburger {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    visibility: hidden;
}

#sidenav {
    visibility: hidden;
}

@media screen and (min-width: 375px) and (max-width: 720px) {
    .title {
        font-size: 30px;
        margin: 10px;
        width: 100vw;
    }

    .checkitout {
        font-size: 20px;
        width: 100vw;
    }

    #turbo {
        display: none;
    }

    .inputField {
        width: 100vw;
        padding: 10px;
    }

    #removeSig {
        visibility: hidden;
    }

    #canvasInput {
        width: 100vw;
        align-content: center;
        text-align: center;
    }

    #hamburger {
        visibility: visible;
    }

    #logout {
        visibility: hidden;
    }

    #sig {
        width: 100vw;
        margin: 10px;
    }

    .links {
        font-family: "Lato";
        color: #a4243b;
        font-size: 30px;
        width: 100%;
    }

    #sidenav {
        position: absolute;
        height: 100%;
        text-align: right;
        right: 0;
        bottom: 0;
        border-left: #a4243b 2px dashed;
        padding: 20px;
        background-color: #f2dfd7;
    }

    #x {
        font-size: 30px;
        font-family: "Lato";
    }
} ;
